<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <title> Space Maintenance</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Basic Styles -->
    <link rel="stylesheet" type="text/css" media="screen" href="/static/smart_admin/styles/bootstrap_min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/smart_admin/styles/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/smart_admin/styles/smartadmin-skins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/smart_admin/styles/smart_admin_maintenance.css">
    <link type="text/css" rel="stylesheet" href="/static/smart_admin/styles/font-awesome.css">
    <!-- FAVICONS -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <!-- GOOGLE FONT -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
    <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
</head>
<body cz-shortcut-listen="true">
<div class="container text-center" id="error">
    <svg height="100" width="100">
        <polygon points="50,25 17,80 82,80" stroke-linejoin="round"
                 style="fill:none;stroke:#ff8a00;stroke-width:8"></polygon>
        <text x="42" y="74" fill="#ff8a00" font-family="sans-serif" font-weight="900" font-size="42px">!</text>
    </svg>
    <div class="row">
        <div class="col-md-12">
            <div class="main-icon text-warning"><span class="uxicon uxicon-alert"></span></div>
            <h1>Access denied</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-push-3">
            <p class="lead">{{ SETTINGS_PARTIAL_HOLDING_PAGE.message }}</p>
        </div>
    </div>
</div>
</body>
</html>
