<!DOCTYPE html>
<html>
  <head>
    <title>SPACE Notification Mail</title>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
  </head>
  <body style='margin: 0; padding: 0; font-family: Helvetica, Arial, sans-serif;'>
    <table cellpadding='5' cellspacing='0' style='width: 80%%; margin: 0 auto; border: 4px solid #f2f2f2'>
      <tbody>
        <tr>
          <td valign='top' align='left' style='padding: 0; font-size: 15px; color: #262626; font-family: Helvetica, Arial, sans-serif;'>

            <table cellspacing='0' cellpadding='0' width='100%%' height='80' bgcolor='#f7f7f7'>
              <tbody>
                <tr>
                  <td width='80%%' style='vertical-align: middle' valign='top'>
                    <img style='margin-left: 3%%' height='50' width='115' src='{{ HOST_URL }}/public/QBlogo.png' title='QBurst Logo' alt='QBurst Logo' />
                  </td>
                </tr>
              </tbody>
            </table>

            <table cellspacing='0' cellpadding='0' width='93%%' style='color: #262626; margin: 30px auto 0;padding-bottom: 30px'>
              <tbody>
                <tr>
                  <td>
                    <span style='font-size: 15px;'> Hi,<br><br></span>
                    <span style='font-size: 15px; font-style: italic;'>
                    {% block message %}
                      {{ message|linebreaks }}
                    {% endblock %}
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>

            <table cellspacing='0' cellpadding='0' width='93%%' style='color:#262626; margin: 0 auto 30px'>
              <tbody>
                <tr>
                  <td width='40%%' align='left'>
                    <span style='font-size: 14px;'>
                    Thanks,<br>
                    SPACE team<br>
                    <a style='font-size: 13px; color: blue;' href='{{ HOST_URL }}'>
                        {{ HOST_URL }}
                    </a>
                    </span>
                  </td>
                  <td align='right' width='60%%' style='padding: 0'>
                    &nbsp;
                  </td>
                </tr>
              </tbody>
            </table>

            <table cellspacing='0' cellpadding='0' width='100%%' height='50' bgcolor='#f7f7f7'>
              <tbody>
                <tr>
                  <td width='45%%' align='left'>
                    <span style='color:#262626; font-size: 13px;margin-left: 7%%'>
                    Please do not reply to this email.
                    </span>
                  </td>
                  <td width='45%%' align='right'>
                    <span style='color:#262626; font-size: 11px;margin-right: 7%%'>Copyright &copy; 2015 - QBurst</span><br>
                    <span style='color:#262626; font-size: 11px;margin-right: 7%%'>All rights reserved</span>
                  </td>
                </tr>
              </tbody>
            </table>

          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
