/* header height  */
#header{
	height:50px;
}
/* div.header */
#header>:first-child{
	width:100%;
}
/* logo */
#QbLogo img{
	width:100px;
	padding: 5px;
}
/* + icon in menu nav */
em.fa{
	padding-top:4px;
}

/* add button in CRUD pages */
.addItemIndicator{
	margin-top:12px!important;
}
/* dashboard employee name display */
.dashboardContainerCredentials{
	text-align: center;
	word-wrap: break-word;
}
/* dashboard trainer pic */
.online{
	height:50px;
	width:50px;
}
/* custom notification styles */
.swing{
	color:#fff;
}
.SmallBox .foto{
	top:10px;
}
.SmallBox .textoFoto{
	padding-top:12px;
}
/* end of custom notification styles */

/* footer button for filter in CRUD pages */
.formFooter button.btn{
	height:31px;
	padding:0 22px;
	color:#fff;
	cursor:pointer;
}
.formFooter button.btn:hover{
	color:#fff;
	background-color:#275b89;
	border-color:#1f496d;
}

/* ajax loader */
.fa-spin{
	color:#2C3742;
}
/* attributes row in asset definition page */
.attributesHeading{
	color:#5598D7;
	font-size: 15px!important;
	font-weight:bolder!important;
}
/* bootstrap tags */
.bootstrap-tagsinput .tag{
	display: inline-block !important;
}
/* pagination loader container div */
#paginationLoader{
	color:#2C3742;
	margin-bottom:20px;
}

/* address book search filter */
.searchFilterSelect{
	display: inline!important;
}
.searchFilterWell .state-error+em{
	margin-top:6px;
	padding:0 1px;
	font-size: 11px;
	line-height: :15px;
	color:#D56161;
}
.searchFilterWell .state-error input, .searchFilterWell .state-error select, .searchFilterWell .state-error textarea, .searchFilterWell .toggle.state-error i{
	background: #fff0f0;
	border-color: #A90329;
}
/* end of address book search filter */

/* dual list box */
.box1, .box2{
	width:47%;
	padding-top:8px;
	padding-left:15px;
	padding-right:0px;
}
.info span.label{
	padding-left:10px;
}

/*  navigation menu 2 level menu grouping */
.minified nav>ul>li:hover>a>.singleMenuItem{
	display:none!important;
}
a:hover,.btn-group i:hover, td i.action:hover{
	cursor: pointer!important;
};

/* Settings Company - logo field in modal */
#logo{
	width:100% !important;
	margin:0 !important;
}
/* Training topics listing */
.panel-light{
	border-color:#EEE !important;
}
.panel-light>.panel-heading{
	border-color:#EEE !important;
	background: #EEE !important;
}

/************************************ common styling *************************************8*/
.label{
	font-size: 14px;
	color:#333; /*#B2C1D5*/;
}
.center{
	text-align:center;
}
.padding-top-20{
	padding-top:20px;
}
.smart-form div{
	margin-bottom: 15px;
}
.displayBlock{
	display: block!important
}
.no-padding-left{
	padding-left:0px;
}
.no-padding-right{
	padding-right:0px;
}
.bg-color-2C3742{
	background: #2C3742 !important;
}
.width100{
	width:100%;
}

/***************************** changes while integrating with main.css *********************************/

/* menu items in navigation bar */
nav>ul>li>ul>li>a, nav>ul>li>ul>li>ul>li>a{
	padding-top:7px !important;
	padding-bottom: 7px !important;
}
.smart-style-2 nav>ul>li>a{
	padding-top:16px !important;
	padding-bottom:16px !important;
}
.smart-style-2.minified nav ul>li>a{
	padding:12px 11px !important;
}
.smart-style-2 nav ul ul li>a{
	padding-left: 23px !important;
}
.smart-style-2 nav ul ul ul li a{
	padding-left: 30px !important;
}
nav ul li a{
	padding:10px 10px 10px 11px !important;
}
/* select box in header for search */
#id_globalSearchOption{
	height:30px;
	font-size: 13px;
	padding: 0 10px;
	background: #161B22;
	border:1px solid #161B22;
	border-radius: 4px!important;
	color:rgba(255, 255, 255, 0.63);
}
#id_globalSearchOption option {
    margin:40px;
    background: #fff !important;
    color:#333;
    text-shadow:0 1px 0 rgba(0,0,0,0.4);
}
.header-search .input>button{
	background:0 0;
	border:none;
	color:#404040;
	font-size: 14px;
	height:30px;
	line-height:30px;
	margin:0;
	padding:0;
	position:absolute;
	right:0;
	top:-3px;
	width:20px;
	z-index:2;
}
.header-search>input[type=text]{
	font-size: 13px;
	width:auto!important;
	display: inline!important;
}
/* shrtcut div color font texts */
a.jarvismetro-tile{
	color:#F7F7F7 !important;
}
/*shorcut div items */
.jarvismetro-tile{
	padding: 5px !important;
}
